.loginPageWrap {
  background: #808080;

  height: 100vh;
  position: relative;
  top: 55px;
  width: 100%;

  h1 {
    color: white;
    padding-top: 70px;
    text-align: center;
  }

  .loginWrap {
    display: flex;
    justify-content: center;

    .loginMiniWrap {
      background: white;
      border-radius: 10px;
      height: 400px;
      margin: 50px 10px 0px 10px;
      width: 20%;

      h2 {
        font-weight: lighter;
        padding: 20px;
        text-align: center;
      }

      form {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        input {
          margin: 30px auto 10px auto;
          width: 80%;
        }
      }
    }
  }
}
