.panierPageWrap {
  background: white;
  height: auto;
  padding-top: 50px;
  position: relative;
  top: 55px;
  width: 100%;

  .isHidden {
    display: none;
  }
  //position
  display: flex;
  flex-direction: column;
  align-items: center;

  .p_professionnel {
    color: #ff0066;
    font-style: italic;
    margin: 10px auto 30px auto;
    a {
      color: #ff0066;
      cursor: pointer;
      font-weight: 600;
      text-decoration: underline;
    }
  }

  .mainPanier {
    display: flex;
    justify-content: center;
    width: 100%;
    .leftPanier {
      height: auto;
      min-height: 500px;
      width: 40%;

      h2 {
        color: #ff0066;
        font-weight: lighter;
        margin: 10px 0px 7px 0px;
      }

      .ligne_rose {
        background: #ff0066;
        height: 1px;
        margin-bottom: 15px;
        width: 80%;
      }
      table {
        border-collapse: collapse;
        margin: 20px 0px 40px 0px;
        width: 80%;

        thead {
          tr {
            th {
              background-color: #ff0066;
              color: white;

              &:first-child {
                width: 70%;
              }
            }
          }
        }

        td,
        th {
          border: 1px solid #ddd;
          padding: 12px;
          font-family: "roadgeek_2005_engschriftRg";
          font-weight: 300;
          text-align: left;
          input {
            margin: 0 3px 0 3px;
            width: 30%;
          }
          i {
            cursor: pointer;
            padding-left: 4%;
          }
        }

        td {
          &:last-child {
            display: flex;
            align-items: center;
          }
        }

        tr:nth-child(even) {
          background-color: #f2f2f2;
        }
      }
    }
    .rightPanier {
      background: #ff0066;
      border-radius: 3px;
      height: auto;
      min-height: 400px;
      width: 20%;

      h2 {
        color: white;
        font-size: 1.3em;
        font-weight: lighter;
        margin: 10px 10px 10px 11%;
      }
      .ligne_blanche {
        background: white;
        height: 1px;
        margin-bottom: 12%;
        width: 100%;
      }

      div {
        div {
          display: flex;
          justify-content: space-between;
          width: 80%;
          margin: auto;

          p {
            color: white;
            font-family: "roadgeek_2005_engschriftRg";
            padding: 3%;
            &:first-child {
              min-width: 70%;
            }
          }
        }

        .ligne_blanche_courte {
          background: white;
          height: 1px;
          width: 80%;
        }

        .total {
          margin: 10% auto 2% auto;
        }
      }
    }
  }
}
