.mask {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .modale {
    background: white;
    border-radius: 10px;
    height: auto;
    margin: 15% auto 0 auto;
    padding: 1% 0 2% 0;
    width: 30%;
    min-width: 270px;

    p {
      padding: 2%;
      text-align: center;
    }

    section {
      display: flex;
      justify-content: center;

      button {
        background: #ff0066;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        font-family: "roadgeek_2005_engschriftRg";
        font-size: 1em;
        margin: 3px;
        padding: 2px;
      }
    }
  }
}
