#page_accueil {
  background: #ff0066;
  position: relative;
  top: 55px;
  width: 100%;

  p {
    &:first-child {
      color: black;
      font-family: "roadgeek_2005_engschriftRg";
      font-size: 1.3em;
      font-weight: lighter;
      margin: 0;
      padding-top: 20px;
      text-align: center;
    }
  }
  .FigureHomeLogo {
    margin: auto;
    padding-top: 10vh;
    width: 50%;
    img {
      width: 100%;
    }
  }

  #homeSecondPart {
    background: white;
    display: flex;
    .FigureHomeBigDaddy {
      margin: 0;
      width: 50%;
      img {
        height: 100%;
        width: 100%;
      }
    }
    #textRight {
      width: 50%;
      // flexbox
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        // font-size: 2.5em;
        margin-bottom: 40px;
        text-align: center;
        width: 40%;
      }
      p {
        font-size: 1.5em;
        line-height: 1.3;
        text-align: center;
        width: 40%;
      }
    }
  }
}
