#biereIndivContainer {
  // position
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 20px auto;
  width: 30%;
  min-width: 400px;
  img {
    width: 50%;
    margin-bottom: 20px;
  }

  .pPanier {
    margin-top: 30px;
  }
  input {
    width: 40px;
  }
}
