@font-face {
  font-family: "roadgeek_2005_engschriftRg";
  src: url("./../assets/font/Roadgeek/roadgeek_2005_engschrift-webfont.woff2")
      format("woff2"),
    url("./../assets/font/Roadgeek/roadgeek_2005_engschrift-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nicknameregular";
  src: url("./../assets/font/Nickname/pizzadude.dk_-_nickname-webfont.woff2")
      format("woff2"),
    url("./../assets/font/Nickname/pizzadude.dk_-_nickname-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

/* .isActive {
  border-bottom: 2px solid white;
} */

.noscroll-class {
  overflow: hidden;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  height: 100%;
}

body,
html {
  height: 100%;
}
