.sidemenu {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  max-width: 400px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  width: 50%;
  z-index: 200;
}

.sidemenu.open {
  transform: translateX(0);
  background: black;

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    li {
      margin: 0.5rem;
      .isActive {
        border-bottom: 1px solid white;

        &:hover {
          border-bottom: 1px solid #ff0066;
        }
      }
      a {
        color: white;
        font-family: "roadgeek_2005_engschriftRg";
        font-size: 1.5em;
        text-decoration: none;
      }
    }
  }
}
